<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                New user
            </mat-panel-title>
            <mat-panel-description>
                Add new user
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="this.user.username" placeholder="Username">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="this.user.password" placeholder="Password" type="password">
        </mat-form-field>

        <mat-form-field *ngFor="let field of customFields; index as i">
            <mat-label>{{field.name}}</mat-label>
            <input matInput
                   [value]="field.defaultValue"
                   [(ngModel)]="this.user.customFields[i].value"
                   placeholder="{{field.name}}" >
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="this.createUser()">Crete</button>
    </mat-expansion-panel>
</mat-accordion>
