<h1 mat-dialog-title>
    Enter your credentials
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="credentials.username">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" [(ngModel)]="credentials.password">
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="login()" cdkFocusInitial>Log In</button>
</div>
