<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                New Field
            </mat-panel-title>
            <mat-panel-description>
                Add new field
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Field name</mat-label>
            <input matInput [(ngModel)]="field.name" placeholder="Field name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Default value</mat-label>
            <input matInput [(ngModel)]="field.defaultValue" placeholder="Default value">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Field Type</mat-label>
            <mat-select [(value)]="field.type">
                <mat-option *ngFor="let field of this.fieldTypes" [value]="field">{{field}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="this.createField()">Crete</button>
    </mat-expansion-panel>
</mat-accordion>
