<table #table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> #</th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username</th>
        <td mat-cell *matCellDef="let user">
            <a (click)="openEditUserDialog(user)">{{user.username}}</a>
        </td>
    </ng-container>

    <ng-container *ngFor="let field of customFields; index as i" matColumnDef="{{field.name}}">
        <th mat-header-cell class="custom-field" *matHeaderCellDef>
            <a (click)="openEditFieldDialog(field)">{{field.name}}</a>
        </th>
        <td mat-cell *matCellDef="let user"> {{user.customFields[i].value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-user-creation-form></app-user-creation-form>
<app-field-creation-form></app-field-creation-form>
