<h1 mat-dialog-title>
    Edit field {{editingName}}
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [value]="field.name" placeholder="Name" [(ngModel)]="field.name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Default value</mat-label>
        <input matInput [value]="field.defaultValue" placeholder="Default value" [(ngModel)]="field.defaultValue">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button color="warn" [mat-dialog-close]="closeWithDelete()">Delete</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="closeWithUpdate()">Edit</button>
</div>
