<h1 mat-dialog-title>
    Edit user {{editingUsername}}
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [value]="user.username" placeholder="Username" [(ngModel)]="user.username">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [value]="user.password" placeholder="Password" type="password" [(ngModel)]="user.password">
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="user.enabled">Enabled</mat-slide-toggle>

    <mat-form-field *ngFor="let field of user.customFields">
        <mat-label>{{field.type.name}}</mat-label>

        <input *ngIf="field.type.type === 'STRING'" matInput
               [value]="field.value"
               placeholder="{{field.type.name}}"
               [(ngModel)]="field.value">

    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button color="warn" [mat-dialog-close]="closeWithDelete()">Delete</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="closeWithUpdate()">Edit</button>
</div>
