<mat-toolbar class="fixed">
    <a routerLink="/users">User list</a>
    <button mat-raised-button color="primary" *ngIf="!authService.isAuthenticated()" (click)="openLoginDialog()">Log In</button>
    <button mat-raised-button color="primary" *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Log Out</button>
</mat-toolbar>

<router-outlet></router-outlet>
